
.links{
    border: 1px solid;
    border-right: solid 2px;
    border-bottom: solid 2px;
    display: inline-block;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    background-color: azure;
    border-color: gray;



}
.text{
    margin-left: 4%;
    font-size: 2em;
    font-family: Calibri;
}
/*Övning4.2 start */
#css-zen-garden{
    background-color: white;
    background-image:url("resources/övning4.2.jpg");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;



}
#css-zen-garden a{
    font-size: 1.1em;
    color:yellow;
    font-family: "sans-serif";
    font-style: normal;
    text-decoration: none;
}
#css-zen-garden a:hover{
    font-size: 1.1em;
    color: black;
}
.page-wrapper{

    width: 90%;
    margin-left: 5%;

}
#zen-intro{

    text-align: center;
    font-weight: bold;
    color: orangered;
    font-style: oblique;
    background-color: transparent;
    font-family: SansSerif;

}
#zen-intro h1{
    margin-top: 2em;
    font-size: 3em;
    text-align: left;
    font-weight: bold;
    color: orangered;
    font-style: oblique;
    background-color: transparent;
    font-family: SansSerif;
    margin-left: 5em;

}

#zen-summary{

    font-size: 1.6em;
    text-align: left;
    font-weight: bold;
    color: white;
    height: 10em;
    border-style: hidden;
    width: 20em;
    display: block;
    margin-top: 3em;
    background: rgba(128,128,128,0.7);
}
#zen-intro h2{

    font-size: 3em;
    text-align: left;
    font-weight: bold;
    font-style: oblique;
    color: orangered;
    font-family: SansSerif;
    margin-top: 1em;
    margin-left: 10em;
    margin-bottom: 4em;
}
header{
    background: rgba(128,128,128,0.7);
}
#zen-preamble h3{

    font-size: 2em;
    color: orangered;
    width: 25em;


}
#zen-preamble {

    font-size: 1.6em;
    font-weight: bold;
    color: white;
    border-style: hidden;
    width: 25em;
    text-align: left;
    margin-left: 60%;
    background: rgba(128,128,128,0.7);
}
#zen-explanation h3{
    font-style: oblique;
    color: orangered;
    font-family: SansSerif;
    display: inline-block;
    font-size: 2em;


}
#zen-explanation {
    font-size: 1.6em;
    font-weight: bold;
    color: white;
    border-style: hidden;
    width: 25em;
    text-align: left;
    font-style: oblique;
    background: rgba(128,128,128,0.7);
}
#zen-participation{
    font-size: 1.6em;
    font-weight: bold;
    color: white;
    border-style: hidden;
    width: 25em;
    text-align: left;
    margin-left: 60%;
    font-style: oblique;
    background: rgba(128,128,128,0.7);

}
#zen-participation h3{
    font-style: oblique;
    color: orangered;
    font-family: SansSerif;
    display: inline-block;
    font-size: 2em;
}
#zen-benefits{
    font-size: 1.6em;
    font-weight: bold;
    color: white;
    border-style: hidden;
    width: 25em;
    text-align: left;
    font-style: oblique;
    background: rgba(128,128,128,0.7);
}
#zen-benefits h3{
    font-style: oblique;
    color: orangered;
    font-family: SansSerif;
    display: inline-block;
    font-size: 2em;
}
#zen-requirements{
    font-size: 1.6em;
    font-weight: bold;
    color: white;
    border-style: hidden;
    width: 25em;
    text-align: left;
    margin-left: 60%;
    font-style: oblique;
    background: rgba(128,128,128,0.7);
}
#zen-requirements h3{
    font-style: oblique;
    color: orangered;
    font-family: SansSerif;
    display: inline-block;
    font-size: 2em;
}
footer{
    color: white;
    margin-left: 30em;
    text-align: center;
    display: inline-block;
    text-decoration: none;

}
#design-selection{
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    width: 150px;
    list-style-type: none;
    background: rgba(128,128,128,0.7);
    border: hidden;
    font-family: "sans-serif";
    font-size: 1.2em;
    margin:1em;
    text-align: left;
    font-weight:bold ;
}
#design-selection ul{
     list-style-type: none;
     padding: 0px;
     text-align: left;
 }

#design-selection h3{
    font-size: 1.7em;
    color: white;

}

#design-selection a:hover{
    background-color: #555;
    color: white;
    text-decoration: none;

}
#design-selection a.active {
    background-color: #4CAF50;
    color: white;
}
.design-name{
    margin-top: 1em;
    display: inline-flex;
}
#design-archives{
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    width: 150px;
    list-style-type: none;
    background: rgba(128,128,128,0.7);
    border: hidden;
    font-family: "sans-serif";
    font-size: 1.2em;
    margin:1em;
    text-align: left;
    font-weight:bold ;
}
#design-archives a:hover{
    background-color: #555;
    color: white;
    text-decoration: none;

}
#design-archives a.active {
    background-color: #4CAF50;
    color: white;
}
#design-archives ul {
    list-style-type: none;
    padding: 0px;
    text-align: left;
}
#zen-resources{
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    width: 150px;
    list-style-type: none;
    background: rgba(128,128,128,0.7);
    border: hidden;
    font-family: "sans-serif";
    font-size: 1.2em;
    margin:1em;
    text-align: left;
    font-weight:bold ;
    float: right;
}

#zen-resources ul {
    list-style-type: none;
    padding: 0px;
    text-align: left;
    margin-top: 1em;
}
#zen-resources a:hover{
    background-color: #555;
    color: white;
    text-decoration: none;

}
#zen-resources a.active {
    background-color: #4CAF50;
    color: white;
}
#zen-resources a {
    display: inline-table;
}
/*Övning4.2 end */

/*Övning5 start */


#lion{
    width: 80%;
    margin-left: 10%;
    margin-top: 5em;
}
#sound{
    width: 20%;
    margin-left: 40%;
    font-size: 1.5em;
}
#video{
    width: 80%;
    margin-left: 30%;
    margin-top: 5em;
}

/*Övning5 end */
#lion{

}
/*Övning6 start */
.body6{
    display: flex;
    flex-direction: row;
    background-color: red;
    font-size: 2em;
}
#logomilan{
    float: left;
    text-align: center;
    width: 100px;
}

/*Övning6 end */



